<h1>MONGODB - EXERCISE</h1>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <input type="text" id="id" name="id">
        <input type="text" id="title" name="title">
        <input type="text" id="content" name="content">
        <input type="text" id="author" name="author">
        <button type="submit">UPDATE</button>
    </form>
</section>