/*-------------------change password------------------*/

.abc2{
    margin-left: 260px;
}

.collcontent5{
     margin-left: 10px;
     font-size: 22px;
     font-weight: 700;
     margin-top: 20px;
    border-bottom: 2px solid black;
    padding: 10px;
     
 }
#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.content{
    padding: 30px 15px;
    min-height: calc(100% -123px);
    background-color: rgba(233, 233, 233, 0.322);
}

input{
    padding: 10px;
    width: 100%;
    border-radius: 4px;
}


.form-group{
    padding: 10px;
}

.btn{
    background-color: #56baed;
    color: white;
    height: 50px;
}

.btn:hover{
  background-color: #44ade3;
    color: white;
}

h4:after {
    display: block;
    height: 2px;
    background-color: #56baed;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}



/*------------------------sidenav bar--------------------------------*/

.sidebar {
  left: 0;
  margin: 0px;
  padding: 0;
  width: 260px;
  background-color:#56baed;
  position: fixed;
  height: 100%;
  text-align: left;
 /*-- border-right: 1px solid rgba(129, 128, 128, 0.92);
  box-shadow: 0 2px 16px 0 rgba(129, 128, 128, 0.92);---*/
}

.li{

    margin-left: 20px;
    margin-right: 20px;
    width: 220px;
    border-radius: 10px;
}

.li>a>i{
    padding-left: 35px;
    padding-right: 15px;
}

.nav-tabs>li.active>a{
    background-color:#56baed;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color:#76c8f2 ;  
  border: 1px solid #76c8f2;
}

.nav-tabs>li>a{
    padding: 15px 0 15px 0;
    font-size: 12px;
    margin-right: 0px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}


.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-weight: 500;
    
}
 
.sidebar a.active {
  background-color: #56baed;
  color: #56baed;

}


.sidebar a:hover:not(.active) {
  background-color:#76c8f2;
  color: white;
}

div.tab-content {
margin-left: 0px;
    
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #ffffff;
}

.hstudent>a{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    color: #ffffff;
    padding: 20px 0;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
}


/*-----------------------------main nav-------------------------*/
.navbar {
background-color:white;
border-color: rgb(230, 230, 230);
margin-bottom: 0px;
border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    height: 60px;
    padding-top: 23px;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #56baed;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
background-color: white;
color: #56baed;
}

.navbar-brand{
    padding-top: 10px;
}

.collcontent2{
    margin-left: 260px;
}

.navbar-right > li > a{
    font-size: 16px;
    padding-right: 30px;
}


