<footer>
    <div class="col-sm-2 col-xs-6">
        <p><i class="fas fa-copyright"></i>Copyright@2019AMS</p>
    </div>
    <div class="col-sm-offset-5 col-sm-5 col-xs-offset-2 col-xs-4">
        Design itpromoted by Academic monitoring activity AMS@ </div>
    <div class="clear"></div>
</footer>