<div class="container-fluid">
        <div class="greycolor">
            <div class="internal">
                <p class="mimg">More Related Images</p>
                <div class="row">
                    <div class="column">
                        <img src="/images/computer.jpg" alt="computer" class="img-responsive" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="/images/mechnical.jpg" alt="mechnical" class="img-responsive" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="/images/civil.jpg" alt="civil" class="img-responsive" style="width:100%">
                    </div>
                    <div class="column">
                        <img src="/images/electric.jpg" alt="electric" class="img-responsive" style="width:100%">
                    </div>

                </div>
            </div>
        </div>
    </div>