<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Aboutus </a></li>
                <li><a href="#">Gallery </a></li>
                <li><a href="#">FeedBack </a></li>
                <li><a href="/admin/">Admin Pannel</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <ul class="signup">
                <li><button type="button" class="btn btn-default btn-lg" id="myBtn1">Sign Up</button></li>
            </ul>
            <ul class="login">
                <li><button type="button" class="btn btn-default btn-lg" id="myBtn"><i class="fas fa-user-graduate"></i>Login</button></li>
            </ul>
        </div>
    </div>
</nav>