<div class="sidebar" data-color="purple" data-image="/images/sidebar-5.jpg">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/index" class="simple-text">Admin</a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="/admin/">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="active sublist">
                <i class="pe-7s-add-user"></i>
                <p data-toggle="collapse" data-target="#profile">Profile</p>
                <ul class="collapse" id="profile">
                    <li><a href="/admin/staff_profile">
                            <i class="pe-7s-angle-right"></i>
                            <p>Staff Profile</p>
                        </a></li>

                    <li><a href="/admin/std_profile">
                            <i class="pe-7s-angle-right"></i>
                            <p>Student Profile</p>
                        </a></li>
                </ul>
            </li>

            <li><a href="/admin/tt">
                    <i class="pe-7s-date"></i>
                    <p>Timetable</p>
                </a></li>

            <li><a href="/admin/dir">
                    <i class="pe-7s-server"></i>
                    <p>Directory</p>
                </a></li>

            <li><a href="/admin/dir">
                    <i class="pe-7s-file"></i>
                    <p>Report</p>
                </a>
                <!--                   <ul class="submenu">
                    <li><a href="user.html">
                        <i class="pe-7s-angle-right"></i><p>Staff Report</p>
                    </a></li>
                       
                    <li><a href="user.html">
                        <i class="pe-7s-angle-right"></i><p>Student Report</p>
                    </a></li></ul>-->
            </li>

            <li class="sublist">
                <i class="pe-7s-note"></i>
                <p data-toggle="collapse" data-target="#leave">Leave</p>
                <ul class="collapse" id="leave">
                    <li><a href="/admin/staff_leave">
                            <i class="pe-7s-angle-right"></i>
                            <p>Staff Leave</p>
                        </a></li>

                    <li><a href="/admin/std_leave">
                            <i class="pe-7s-angle-right"></i>
                            <p>Student Leave</p>
                        </a></li>
                </ul>
            </li>

            <li class="sublist">
                <i class="pe-7s-mail-open-file"></i>
                <p data-toggle="collapse" data-target="#complain">Complain</p>
                <ul class="collapse" id="complain">
                    <li><a href="/admin/staff_complaint">
                            <i class="pe-7s-angle-right"></i>
                            <p>Staff Complain</p>
                        </a></li>

                    <li><a href="/admin/std_complaint">
                            <i class="pe-7s-angle-right"></i>
                            <p>Student Complain</p>
                        </a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>