{{#each data}}
<div class="card profilecards">
    <div class="left">
        <p><img src="uploads/{{this.title}}.png" alt="profile image"></p>
    </div>
    <div class="right">
        <p>{{this.title}}</p>
        <p>{{this.content}}</p>
        <p>{{this.author}}</p>
    </div>
</div>
{{/each}}


this is staff profile